<div class="profile-data-container">

    <div class="row">

        <!-- Left Side - Teacher Profile Info -->
        <div class="col-lg-4 col-md-5 mb-4">
            <p-card>
                <div class="profile-sidebar">

                    <div class="profile-image-container">
                        <img [src]="getImageUrl(teacher.imagePath)" [alt]="teacher.name" class="profile-image">

                        <div class="upload-button-container" *ngIf="!disablePage && permissionService.canEdit.teacher">
                            <button class="btn btn-sm btn-primary upload-btn" (click)="changeImage()">
                                <i class="fas fa-camera"></i>
                            </button>
                        </div>

                        <input #fileInput type="file" accept="image/*" style="display: none;"
                            (change)="onUploadImage($event)">
                    </div>

                    <div class="profile-details">
                        <h3 class="name">{{ teacher.name }}</h3>
                        <p class="age">{{ getAge(teacher.birthDate) }} {{ 'shared.labels.years' | translate }}</p>

                        <div class="profile-stats">
                            <div class="stat-item">
                                <div class="stat-value">{{ teacher.code || 0}}</div>
                                <div class="stat-label">{{ 'shared.labels.teacherCode' | translate }}</div>
                            </div>

                            <div class="stat-item">
                                <div class="stat-value">{{ teacher.courses?.length || 0 }}</div>
                                <div class="stat-label">{{ 'shared.labels.coursesNumber' | translate }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="contact-info teacher-personals-grp student-personals-grp">

                        <div class="heading-detail d-flex justify-content-between align-items-center">
                            <h4 class="mb-2 mt-2">{{ 'teachers.formTitle' | translate }}</h4>

                            <edit-icon-button *ngIf="!disablePage && permissionService.canEdit.teacher"
                                (click)="onEditTeacher()" [showOutline]="true" />
                        </div>

                        <div class="personal-activity">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-user"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.labels.name' | translate }}</h4>
                                <h5>{{teacher.name}}</h5>
                            </div>
                        </div>

                        <div class="personal-activity" *ngIf="permissionService.canEdit.teacher">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-phone"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.labels.phoneNumber' | translate }}</h4>
                                <h5>{{teacher.phoneNumber}}</h5>
                            </div>
                        </div>

                        <div class="personal-activity">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-envelope"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.labels.email' | translate }}</h4>
                                <h5><a href="mailto:{{teacher.email}}">{{teacher.email}}</a></h5>
                            </div>
                        </div>

                        <div class="personal-activity">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-venus-mars"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.labels.gender' | translate }}</h4>
                                <h5 *ngIf="!disablePage">{{getGender(teacher.gender)}}</h5>
                            </div>
                        </div>

                        <div class="personal-activity" *ngIf="permissionService.canEdit.teacher">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-calendar-alt"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.labels.joinedDate' | translate }}</h4>
                                <h5 *ngIf="!disablePage">{{teacher.joinedDate}}</h5>
                            </div>
                        </div>

                        <div class="personal-activity" *ngIf="permissionService.canEdit.teacher">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-calendar-alt"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.labels.birthDate' | translate }}</h4>
                                <h5 *ngIf="!disablePage">{{teacher.birthDate}}</h5>
                            </div>
                        </div>

                    </div>

                </div>
            </p-card>
        </div>


        <div class="col-lg-8 col-md-7">
            <p-card class="tabs-card">

                <div class="teacher-personals-grp">

                    <p-tabs [value]="selectedTab" scrollable>

                        <p-tablist>

                            <p-tab value="0">
                                <i class="fas fa-calendar-alt"></i>
                                <span class="ms-1"></span>
                                {{ 'shared.tabs.schedule' | translate }}
                            </p-tab>

                            <p-tab value="1">
                                <i class="fas fa-users"></i>
                                <span class="ms-1"></span>
                                {{ 'shared.tabs.groups' | translate }}
                            </p-tab>

                            <p-tab value="2">
                                <i class="fas fa-book"></i>
                                <span class="ms-1"></span>
                                {{ 'shared.tabs.courses' | translate }}
                            </p-tab>

                            <p-tab value="3">
                                <i class="fas fa-graduation-cap"></i>
                                <span class="ms-1"></span>
                                {{ 'shared.tabs.qualifications' | translate }}
                            </p-tab>

                            <p-tab value="4">
                                <i class="fas fa-paperclip"></i>
                                <span class="ms-1"></span>
                                {{ 'shared.tabs.attachments' | translate }}
                            </p-tab>

                            <p-tab value="5">
                                <i class="fas fa-solid fa-money-bill"></i>
                                <span class="ms-1"></span>
                                {{ 'shared.tabs.finances' | translate }}
                            </p-tab>

                        </p-tablist>

                        <p-tabpanels class="px-0">

                            <p-tabpanel value="0">

                                <teacher-daily-schedule [teacher]="teacher" />

                            </p-tabpanel>

                            <p-tabpanel value="1">

                                <div class="hello-park">
                                    <div class="d-flex justify-content-between">
                                        <h5>{{ 'shared.tabs.groups' | translate }}</h5>
                                    </div>

                                    <div class="tab-overflow-auto" *ngIf="teacher.groups && teacher.groups.length > 0">
                                        <app-table [columns]="groupsColumns" [rows]="teacher.groups!" />
                                    </div>

                                    <no-data [icon]="'fas fa-users'"
                                        *ngIf="!teacher.groups || teacher.groups.length === 0"
                                        [text]="'shared.noData.noGroups' | translate" />
                                </div>

                            </p-tabpanel>

                            <p-tabpanel value="2">

                                <div class="hello-park">
                                    <div class="d-flex justify-content-between">
                                        <h5>{{ 'shared.tabs.courses' | translate }}</h5>

                                        <edit-icon-button
                                            *ngIf="!disablePage && permissionService.canEdit.teacherCourses"
                                            (click)="onEditCourse()" [showOutline]="true" />

                                    </div>

                                    <div class="tab-overflow-auto"
                                        *ngIf="teacher.courses && teacher.courses.length > 0">
                                        <app-table [columns]="coursesColumns" [rows]="teacher.courses || []" />
                                    </div>

                                    <no-data [icon]="'fas fa-book'"
                                        *ngIf="!teacher.courses || teacher.courses.length === 0"
                                        [text]="'shared.noData.noCourses' | translate" />

                                </div>

                            </p-tabpanel>

                            <p-tabpanel value="3">

                                <div class="hello-park">

                                    <div class="tab-overflow-auto"
                                        *ngIf="teacher.qualification && teacher.qualification.length > 0">

                                        <div class="d-flex justify-content-between">
                                            <h5>{{ 'shared.tabs.qualifications' | translate }}</h5>

                                            <edit-icon-button *ngIf="!disablePage && permissionService.canEdit.teacher"
                                                (click)="onEditQualification()" [showOutline]="true" />
                                        </div>

                                        <div [innerHTML]="getSafeHtml(teacher.qualification)"></div>

                                        <hr />

                                        <div class="d-flex justify-content-between">
                                            <h5>{{ 'shared.labels.experience' | translate }}</h5>

                                            <edit-icon-button *ngIf="!disablePage && permissionService.canEdit.teacher"
                                                (click)="onEditExperience()" [showOutline]="true" />
                                        </div>

                                        <div [innerHTML]="getSafeHtml(teacher.experience)"></div>

                                    </div>


                                    <div *ngIf="teacher.qualification === null || teacher.qualification?.length === 0">

                                        <div class="d-flex justify-content-between">
                                            <h5>{{ 'shared.tabs.qualifications' | translate }}</h5>

                                            <edit-icon-button *ngIf="!disablePage && permissionService.canEdit.teacher"
                                                (click)="onEditQualification()" [showOutline]="true" />
                                        </div>

                                        <no-data [icon]="'fas fa-graduation-cap'"
                                            [text]="'shared.noData.noQualifications' | translate" />
                                    </div>



                                    <div *ngIf="teacher.experience === null || teacher.experience?.length === 0">

                                        <hr />

                                        <div class="d-flex justify-content-between">
                                            <h5>{{ 'shared.labels.experience' | translate }}</h5>

                                            <edit-icon-button *ngIf="!disablePage && permissionService.canEdit.teacher"
                                                (click)="onEditExperience()" [showOutline]="true" />
                                        </div>

                                        <no-data [icon]="'fas fa-briefcase'"
                                            [text]="'shared.noData.noExperience' | translate" />

                                    </div>

                                </div>

                            </p-tabpanel>

                            <p-tabpanel value="4">

                                <div class="hello-park">
                                    <div class="d-flex justify-content-between">
                                        <h5>{{ 'shared.tabs.attachments' | translate }}</h5>

                                        <edit-icon-button *ngIf="!disablePage && permissionService.canEdit.teacher"
                                            (click)="onAddUserAttachment()" [showOutline]="true" />

                                    </div>

                                    <div class="tab-section-container auto-hover-scroll">
                                        <app-teacher-attachment [teacher]="teacher" />
                                    </div>

                                    <no-data *ngIf="teacher.attachments === null || teacher.attachments?.length === 0"
                                        [icon]="'fas fa-paperclip'"
                                        [text]="'shared.noData.noAttachments' | translate" />
                                </div>

                            </p-tabpanel>

                            <p-tabpanel value="5">

                                <div class="hello-park">
                                    <div class="d-flex justify-content-between">
                                        <h5>{{ 'shared.tabs.finances' | translate }}</h5>
                                    </div>

                                    <div class="tab-overflow-auto">
                                    </div>

                                    <no-data [icon]="'fas fa-money-bill'"
                                        [text]="'shared.noData.noFinances' | translate" />

                                </div>

                            </p-tabpanel>

                        </p-tabpanels>

                    </p-tabs>

                </div>

            </p-card>
        </div>

    </div>

</div>


<app-teacher-form [showDialog]="showEditInfoDialog" [teacher]="teacher" (onSave)="loadTeacher()"
    (onCancel)="showEditInfoDialog = false" />

<app-teacher-qualification [showDialog]="showQualificationDialog" [teacher]="teacher" (onSave)="loadTeacher()"
    (onCancel)="showQualificationDialog = false" />

<app-teacher-experience [showDialog]="showExperienceDialog" [teacher]="teacher" (onSave)="loadTeacher()"
    (onCancel)="showExperienceDialog = false" />

<user-attachment-dialog [showDialog]="showUserAttachmentDialog" (onSave)="saveUserAttachment($event)"
    (onCancel)="showUserAttachmentDialog = false" [userId]="teacher.id" />

<courses-dialog [showDialog]="showEditCourseDialog" *ngIf="showEditCourseDialog"
    [selectedCourses]="teacher.courses || []" (onCancel)="showEditCourseDialog = false"
    (onSave)="onSaveCourses($event)" />