<card-container>

    <div class="row profile-info">

        <div class="col-12">
            <div class="profile-user-box">
                <div class="profile-user-img">
                    <img [src]="getImageUrl(teacher.imagePath)" alt="Profile">

                    <div class="form-group students-up-files profile-edit-icon mb-0" *ngIf="!disablePage && permissionService.canEdit.teacher">
                        <div class="uplod d-flex">
                            <label class="file-upload profile-upbtn mb-0">
                                <i class="fas fa-solid fa-edit"></i>
                                <input type="file" (change)="onUploadImage($event)" accept="image/*">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="names-profiles me-3" *ngIf="!disablePage">
                    <h4>{{teacher.name}}</h4>
                    <h5>{{getAge(teacher.birthDate)}} {{ 'shared.fields.years' | translate }}</h5>
                </div>
            </div>
        </div>

    </div>


    <div class="row mt-4">

        <div class="col-lg-4">
            <div class="student-personals-grp">
                <div class="card">
                    <div class="card-body pt-2">

                        <div class="heading-detail d-flex justify-content-between align-items-center">
                            <h4 class="mb-2 mt-2">{{ 'teachers.profile.teacherData' | translate }}</h4>

                            <div class="form-group students-up-files mb-1" *ngIf="!disablePage && permissionService.canEdit.teacher">
                                <button [pTooltip]="'shared.buttons.edit' | translate" tooltipPosition="top" class="btn p-0 grid-btn"
                                    (click)="onEditTeacher()">
                                    <i class="fa fa-edit text-secondary"></i>
                                </button>
                            </div>
                        </div>

                        <hr class="mt-2 heading-line" />

                        <div class="personal-activity">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-user"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.fields.name' | translate }}</h4>
                                <h5>{{teacher.name}}</h5>
                            </div>
                        </div>

                        <div class="personal-activity">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-phone"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.fields.phoneNumber' | translate }}</h4>
                                <h5>{{teacher.phoneNumber}}</h5>
                            </div>
                        </div>

                        <div class="personal-activity">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-envelope"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.fields.email' | translate }}</h4>
                                <h5><a href="mailto:{{teacher.email}}">{{teacher.email}}</a></h5>
                            </div>
                        </div>

                        <div class="personal-activity">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-venus-mars"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.fields.gender' | translate }}</h4>
                                <h5 *ngIf="!disablePage">{{getGender(teacher.gender)}}</h5>
                            </div>
                        </div>

                        <div class="personal-activity">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-calendar-alt"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.fields.joinedDate' | translate }}</h4>
                                <h5 *ngIf="!disablePage">{{teacher.joinedDate}}</h5>
                            </div>
                        </div>

                        <div class="personal-activity">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-calendar-alt"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.fields.birthDate' | translate }}</h4>
                                <h5 *ngIf="!disablePage">{{teacher.birthDate}}</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-8">
            <div class="student-personals-grp">
                <div class="card mb-0">
                    <div class="card-body pt-0" style="min-height: 29rem;">

                        <p-tabs value="0" scrollable>

                            <p-tablist>
                                <p-tab value="0">{{ 'shared.profile.education' | translate }}</p-tab>
                                <p-tab value="1">{{ 'courses.all' | translate }}</p-tab>
                                <p-tab value="2">{{ 'groups.all' | translate }}</p-tab>
                                <p-tab value="3">{{ 'shared.attachments' | translate }}</p-tab>
                            </p-tablist>

                            <p-tabpanels class="px-0">

                                <p-tabpanel value="0">
                                    <div class="heading-detail">
                                        <div class="hello-park">

                                            <div class="heading-detail d-flex justify-content-between">
                                                <h5>{{ 'shared.profile.qualifications' | translate }}</h5>

                                                <div class="form-group students-up-files mb-0" *ngIf="!disablePage && permissionService.canEdit.teacher">
                                                    <button [pTooltip]="'shared.buttons.edit' | translate" tooltipPosition="top"
                                                        class="btn p-0 grid-btn" (click)="onEditQualification()">
                                                        <i class="fa fa-edit text-secondary"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="tab-section-container">
                                                <div [innerHTML]="getSafeHtml(teacher.qualification)"></div>

                                                <div class="text-muted text-center"
                                                    *ngIf="teacher.qualification === null || teacher.qualification?.length === 0">
                                                    {{ 'shared.profile.noQualifications' | translate }}
                                                </div>

                                                <hr class="my-3 heading-line" />

                                                <div class="heading-detail d-flex justify-content-between">
                                                    <h5>{{ 'shared.profile.experience' | translate }}</h5>

                                                    <div class="form-group students-up-files mb-0" *ngIf="!disablePage && permissionService.canEdit.teacher">
                                                        <button [pTooltip]="'shared.buttons.edit' | translate" tooltipPosition="top"
                                                            class="btn p-0 grid-btn" (click)="onEditExperience()">
                                                            <i class="fa fa-edit text-secondary"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div [innerHTML]="getSafeHtml(teacher.experience)"></div>
                                                <div class="text-muted text-center"
                                                    *ngIf="teacher.experience === null || teacher.experience?.length === 0">
                                                    {{ 'shared.profile.noExperience' | translate }}
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </p-tabpanel>

                                <p-tabpanel value="1">
                                    <div class="heading-detail">
                                        <div class="hello-park">

                                            <div class="heading-detail d-flex justify-content-between">
                                                <h5 class="mb-1">{{ 'courses.all' | translate }}</h5>
                                            </div>

                                            <div class="tab-section-container">

                                                <p-table stripedRows [value]="teacher.courses" *ngIf="teacher.courses && teacher.courses.length > 0">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                            <th>{{ 'courses.list.name' | translate }}</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-group>
                                                        <tr>
                                                            <td class="py-4">{{group.name}}</td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>

                                                <div class="text-muted text-center"
                                                    *ngIf="teacher.courses === null || teacher.courses?.length === 0">
                                                    {{ 'shared.profile.noCourses' | translate }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </p-tabpanel>

                                <p-tabpanel value="2">
                                    <div class="heading-detail">
                                        <div class="hello-park">

                                            <div class="heading-detail d-flex justify-content-between">
                                                <h5 class="mb-1">{{ 'groups.all' | translate }}</h5>
                                            </div>

                                            <div class="tab-section-container">

                                                <p-table stripedRows [value]="teacher.groups" *ngIf="teacher.groups && teacher.groups.length > 0">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                            <th>{{ 'groups.list.name' | translate }}</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-group>
                                                        <tr>
                                                            <td class="py-4">{{group.name}}</td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>

                                                <div class="text-muted text-center"
                                                    *ngIf="teacher.groups === null || teacher.groups?.length === 0">
                                                    {{ 'shared.profile.noGroups' | translate }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </p-tabpanel>

                                <p-tabpanel value="3">
                                    <div class="heading-detail">
                                        <div class="hello-park">

                                            <div class="heading-detail d-flex justify-content-between">
                                                <h5>{{ 'shared.attachments' | translate }}</h5>

                                                <div class="form-group students-up-files mb-0" *ngIf="!disablePage && permissionService.canEdit.teacher">
                                                    <button [pTooltip]="'shared.buttons.add' | translate" tooltipPosition="top"
                                                        class="btn p-0 grid-btn" (click)="onAddUserAttachment()">
                                                        <i class="fa fa-plus text-secondary"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="tab-section-container">
                                                <app-teacher-attachment [teacher]="teacher" />

                                                <div class="text-muted text-center"
                                                    *ngIf="teacher.attachments === null || teacher.attachments?.length === 0">
                                                    {{ 'shared.profile.noAttachments' | translate }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </p-tabpanel>

                            </p-tabpanels>
                        </p-tabs>

                    </div>
                </div>
            </div>
        </div>

    </div>

</card-container>


<app-teacher-form [showDialog]="showEditInfoDialog" [teacher]="teacher" (onSave)="loadTeacher()"
    (onCancel)="showEditInfoDialog = false" />

<app-teacher-qualification [showDialog]="showQualificationDialog" [teacher]="teacher" (onSave)="loadTeacher()"
    (onCancel)="showQualificationDialog = false" />

<app-teacher-experience [showDialog]="showExperienceDialog" [teacher]="teacher" (onSave)="loadTeacher()"
    (onCancel)="showExperienceDialog = false" />

<user-attachment-dialog [showDialog]="showUserAttachmentDialog" (onSave)="saveUserAttachment($event)"
    (onCancel)="showUserAttachmentDialog = false" [userId]="teacher.id" />