<div class="hello-park">
    <div class="d-flex justify-content-between header-title">
        <h5 class="mb-1">{{ 'shared.tabs.schedule' | translate }}</h5>
        <pdf-icon-btn [showOutline]="true" *ngIf="group?.dailySchedules?.length && permissionsService.canExport.exportGroupDailySchedulePdf"
            (click)="exportDailyScheduleToPdf()" />
    </div>

    <div class="tab-section-container tab-overflow-auto">

        <daily-schedule *ngIf="group?.dailySchedules?.length" [dailySchedules]="group.dailySchedules!" [showTeacher]="false" [showGroup]="false" />

    </div>

    <no-data *ngIf="group?.dailySchedules?.length === 0" [icon]="'fas fa-calendar-alt'" [text]="'shared.noData.noDailySchedule' | translate" />


</div>

<!-- Hidden PDF Template for Export -->
<div style="position: absolute; left: -9999px; top: -9999px;">
    <daily-schedule-pdf-template [dailySchedules]="group.dailySchedules!" [name]="group.name"
        [title]="getReportTitle()" [showTeacher]="false" [showGroup]="false" >
    </daily-schedule-pdf-template>
</div>