<card-container [title]="'schedules.all' | translate" [addBtn]="true" (onAdd)="this.showDialog = true">
  
  <!-- Shared Calendar Component -->
  <calendar 
    [config]="calendarConfig"
    (eventClicked)="eventClicked($event)"
    (editClicked)="editEvent($event)"
    (deleteClicked)="deleteEvent($event)"
    >
  </calendar>

</card-container>

<schedule-dialog [showDialog]="showDialog" *ngIf="showDialog" [schedule]="schedule" (onClose)="this.showDialog = false" />

<schedule-form [showDialog]="showScheduleForm" *ngIf="showScheduleForm" [schedule]="schedule" (onSave)="onSave()" (onCancel)="this.showScheduleForm = false" />

<delete-confirmation 
  *ngIf="showDeleteConfirmation" 
  [message]="'shared.dialogs.deleteConfirmation' | translate" 
  (confirm)="onDeleteConfirm()" 
  (cancel)="onDeleteCancel()" 
/>