<div class="profile-data-container">

    <div class="row">

        <!-- Left Side - Student Profile Info -->
        <div class="col-lg-4 col-md-5 mb-4">
            <p-card>
                <div class="profile-sidebar">

                    <div class="profile-image-container">
                        <img [src]="getImageUrl(student.imagePath)" [alt]="student.name" class="profile-image">

                        <div class="upload-button-container" *ngIf="!disablePage && permissionService.canEdit.student">
                            <button class="btn btn-sm btn-primary upload-btn" (click)="fileInput.click()">
                                <i class="fas fa-camera"></i>
                            </button>
                        </div>

                        <input #fileInput type="file" accept="image/*" style="display: none;"
                            (change)="onUploadImage($event)">
                    </div>

                    <div class="profile-details">
                        <h3 class="name">{{ student.name }}</h3>
                        <p class="age">{{ getAge(student.birthDate) }} {{ 'shared.fields.years' | translate }}</p>

                        <div class="profile-stats">
                            <div class="stat-item">
                                <div class="stat-value">{{ student.code || 0}}</div>
                                <div class="stat-label">{{ 'students.profile.studentCode' | translate }}</div>
                            </div>

                            <div class="stat-item">
                                <div class="stat-value">{{ student.attendancePercentage || 0 }}%</div>
                                <div class="stat-label">{{ 'shared.fields.attendancePercentage' | translate }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="contact-info student-personals-grp">

                        <div class="heading-detail d-flex justify-content-between align-items-center">
                            <h4 class="mb-2 mt-2">{{ 'students.profile.studentData' | translate }}</h4>

                            <edit-icon-button *ngIf="!disablePage && permissionService.canEdit.student"
                                (click)="onEditStudent()" [showOutline]="true" />
                        </div>

                        <div class="personal-activity">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-user"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.fields.name' | translate }}</h4>
                                <h5>{{student.name}}</h5>
                            </div>
                        </div>

                        <div class="personal-activity" *ngIf="permissionService.canEdit.student">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-phone"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.fields.phoneNumber' | translate }}</h4>
                                <h5>{{student.phoneNumber}}</h5>
                            </div>
                        </div>

                        <div class="personal-activity">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-envelope"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.fields.email' | translate }}</h4>
                                <h5><a href="mailto:{{student.email}}">{{student.email}}</a></h5>
                            </div>
                        </div>

                        <div class="personal-activity">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-venus-mars"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.fields.gender' | translate }}</h4>
                                <h5 *ngIf="!disablePage">{{getGender(student.gender)}}</h5>
                            </div>
                        </div>

                        <div class="personal-activity" *ngIf="permissionService.canEdit.student">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-calendar-alt"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.fields.joinedDate' | translate }}</h4>
                                <h5 *ngIf="!disablePage">{{student.joinedDate}}</h5>
                            </div>
                        </div>

                        <div class="personal-activity" *ngIf="permissionService.canEdit.student">
                            <div class="personal-icons">
                                <i class="fas fa-solid fa-calendar-alt"></i>
                            </div>
                            <div class="views-personal">
                                <h4>{{ 'shared.fields.birthDate' | translate }}</h4>
                                <h5 *ngIf="!disablePage">{{student.birthDate}}</h5>
                            </div>
                        </div>

                    </div>

                </div>
            </p-card>
        </div>


        <div class="col-lg-8 col-md-7">
            <p-card class="tabs-card">

                <div class="student-personals-grp">

                    <p-tabs [value]="selectedTab" scrollable>

                        <p-tablist>
                            <p-tab value="0" *ngIf="permissionService.canView.studentSchedule">{{ 'students.tabs.schedule' | translate }}</p-tab>
                            <p-tab value="1" *ngIf="permissionService.canView.studentAttendance">{{ 'students.tabs.attendance' | translate }}</p-tab>
                            <p-tab value="2">{{ 'students.tabs.teacherFeedback' | translate }}</p-tab>
                            <p-tab value="3">{{ 'students.tabs.education' | translate }}</p-tab>
                            <p-tab value="4">{{ 'students.tabs.attachments' | translate }}</p-tab>
                        </p-tablist>

                        <p-tabpanels class="px-0">

                            <p-tabpanel value="0" *ngIf="permissionService.canView.studentSchedule">

                                <student-daily-schedule [student]="student" />

                            </p-tabpanel>

                            <p-tabpanel value="1" *ngIf="permissionService.canView.studentAttendance">

                                <student-attendance [student]="student" />

                            </p-tabpanel>

                            <p-tabpanel value="2">

                                <student-feedback [feedbacks]="student.feedbacks" />
                            
                            </p-tabpanel>

                            <p-tabpanel value="3">

                                <div class="hello-park">
                                    <div class="d-flex justify-content-between">
                                        <h5>{{ 'shared.profile.qualifications' | translate }}</h5>

                                        <edit-icon-button *ngIf="!disablePage && permissionService.canEdit.student"
                                            (click)="onEditQualification()" [showOutline]="true" />

                                    </div>

                                    <div class="tab-section-container">
                                        <div [innerHTML]="getSafeHtml(student.qualification)"></div>

                                        <div class="text-muted text-center"
                                            *ngIf="student.qualification === null || student.qualification?.length === 0">

                                            <i class="fas fa-graduation-cap text-muted mb-3" style="font-size: 3rem;"></i>
                                            <p class="text-muted">{{ 'shared.profile.noQualifications' | translate }}</p>
                                        </div>
                                    </div>
                                </div>

                            </p-tabpanel>

                            <p-tabpanel value="4">

                                <div class="hello-park">
                                    <div class="d-flex justify-content-between">
                                        <h5>{{ 'shared.attachments' | translate }}</h5>

                                        <edit-icon-button *ngIf="!disablePage && permissionService.canEdit.student"
                                            (click)="onAddUserAttachment()" [showOutline]="true" />

                                    </div>

                                    <div class="tab-section-container">
                                        <app-student-attachment [student]="student" />

                                        <div class="text-muted text-center"
                                            *ngIf="student.attachments === null || student.attachments?.length === 0">

                                            <i class="fas fa-file-alt text-muted mb-3" style="font-size: 3rem;"></i>
                                            <p class="text-muted">{{ 'shared.profile.noAttachments' | translate }}</p>

                                        </div>
                                    </div>
                                </div>

                            </p-tabpanel>

                        </p-tabpanels>

                    </p-tabs>

                </div>

            </p-card>
        </div>

    </div>

</div>


<app-student-form [showDialog]="showEditInfoDialog" [student]="student" (onSave)="loadStudent()"
    (onCancel)="showEditInfoDialog = false" />

<app-student-qualification [showDialog]="showQualificationDialog" [student]="student" (onSave)="loadStudent()"
    (onCancel)="showQualificationDialog = false" />

<user-attachment-dialog [showDialog]="showUserAttachmentDialog" (onSave)="saveUserAttachment($event)"
    (onCancel)="showUserAttachmentDialog = false" [userId]="student.id" />
