<p-table [value]="items" [dataKey]="'id'" [paginator]="paginator" [rows]="pageSize" [columns]="columns" [lazy]="true"
    [loading]="loading" [rowHover]="true" stripedRows [scrollable]="true" [totalRecords]="pagedRows.totalCount" (onLazyLoad)="lazyLoad($event)">

    <ng-template #header>
        <tr>
            <th pResizableColumn [pSortableColumn]="column.sortable ? column.field : ''" *ngFor="let column of columns">
                {{ column.title }}
                <p-sortIcon *ngIf="column.sortable" [field]="column.field" />
            </th>
            <th *ngIf="allowDelete || allowEdit || allowView" [style.width]="'7rem'"></th>
        </tr>

        <tr *ngIf="showFilters">
            <td *ngFor="let col of columns" class="search-bar" [ngSwitch]="col.filterType">

                <input *ngSwitchCase="'text'" [placeholder]="'بحث ب' + col.title" class="form-control"
                    type="text" [formControl]="getHeaderControl(col.field, col.filterType!)"/>

            </td>

            <td class="d-flex justify-content-end pt-1" *ngIf="hasFilter">
                <button *ngIf="queryparams.filters?.length" pTooltip="إعادة تعيين الفلتر" tooltipPosition="top"
                    class="btn btn-sm btn-outline-warning border-0 btn-icon">
                    <i class="pi pi-filter-slash"></i>
                </button>

                <button pTooltip="تحديث" tooltipPosition="top"
                    class="btn btn-sm btn-outline-primary border-0 btn-icon">
                    <i class="pi pi-refresh"></i>
                </button>
            </td>
        </tr>

    </ng-template>

    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
            <td *ngFor="let col of columns;"
                [style]="{background: hasBackground(col, item) ? col?.backgroundColor : ''}">

                <ng-container *ngIf="!col.customTemplate">

                    <span *ngIf="col.columnType == 'text'"
                        [style]="{background: hasBackground(col, item) ? col?.backgroundColor : ''}">
                        {{ item[col.field]}}
                    </span>

                    <span *ngIf="col.columnType == 'date'"
                        [style]="{background: hasBackground(col, item) ? col?.backgroundColor : ''}">
                        {{ item[col.field] | date: 'MM-dd-yyyy'}}
                    </span>

                    <span *ngIf="col.columnType == 'image'">
                        <img [src]="item[col.field]" alt="Image" style="width: 65px; height: 65px; border-radius: 5px;">
                    </span>

                </ng-container>

            </td>

            <td *ngIf="allowDelete || allowEdit || allowView">
                <div class="d-flex justify-content-end grid-btns">
                    <button *ngIf="allowDelete" pTooltip="حذف" tooltipPosition="top" class="btn px-1 grid-btn" 
                        (click)="onDeleteRow(item.index, item)">
                        <i class="fa fa-trash text-danger"></i>
                    </button>

                    <button *ngIf="allowEdit" pTooltip="تعديل" tooltipPosition="top" class="btn px-2 grid-btn"
                        (click)="onEditRow(item)">
                        <i class="fa fa-edit text-secondary"></i>
                    </button>

                    <button *ngIf="allowView && item.allowView" pTooltip="عرض" tooltipPosition="top" class="btn px-1 grid-btn"
                        (click)="onViewDetail(item)">
                        <i class="fa fa-eye text-info"></i>
                    </button>
                </div>
            </td>

        </tr>
    </ng-template>

</p-table>