<card-container [title]="'groups.all' | translate" [addBtn]="isAdminOrEmployee" (onAdd)="showDialog = true">
    <grid [pagedRows]="groups" (onLazyLoad)="loadGroups($event)" 
          [columns]="columns" [pageSize]="10" [paginator]="true" [showFilters]="true"
          [allowEdit]="isAdminOrEmployee" (onEdit)="onEdit($event)"
          [allowView]="true" (onView)="onView($event)"
          [allowDelete]="isAdmin" (onDelete)="onDelete($event)" />
</card-container>


<app-group-from [showDialog]="showDialog" 
[group]="group"
(onSave)="loadGroups(queryParams)" 
(onCancel)="showDialog = false"
*ngIf="isAdminOrEmployee"
/>

<delete-confirmation *ngIf="showDelete && isAdmin" [message]="'shared.dialogs.deleteConfirmation' | translate" (confirm)="onDeleteConfirm()" (cancel)="onDeleteCancel()" />