<card-container [title]="'groups.all' | translate" [addBtn]="permissionAccess.canAdd.group" (onAdd)="showDialog = true">
    <grid [pagedRows]="groups" (onLazyLoad)="loadGroups($event)" 
          [columns]="columns" [pageSize]="10" [paginator]="true" [showFilters]="true"
          [allowView]="permissionAccess.canView.groupProfile" (onView)="onView($event)"
          [allowDelete]="permissionAccess.canDelete.group" (onDelete)="onDelete($event)" />
</card-container>


<app-group-from [showDialog]="showDialog" 
[group]="group"
(onSave)="loadGroups(queryParams)" 
(onCancel)="showDialog = false"
*ngIf="(permissionAccess.canAdd.group || permissionAccess.canEdit.group) && showDialog"
/>