<div class="sidebar" id="sidebar">
    <p-scrollPanel [style.height]="'90vh'">

        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>{{ 'sidebar.mainMenu' | translate }}</span>
                        
                    <li routerLinkActive="active" *ngIf="permissionAccess.canViewSideNav.sessions">
                        <a routerLink="/sessions">
                            <i class="fas fa-clock"></i>
                            <span>{{ 'sessions.all' | translate }}</span>
                        </a>
                    </li>

                    <li routerLinkActive="active" *ngIf="permissionAccess.canViewSideNav.schedules">
                        <a routerLink="/schedules">
                            <i class="fas fa-calendar-alt"></i>
                            <span>{{ 'schedules.all' | translate }}</span>
                        </a>
                    </li>

                    <li routerLinkActive="active" *ngIf="permissionAccess.canViewSideNav.students">
                        <a routerLink="/students">
                            <i class="fas fa-user-graduate"></i>
                            <span>{{ 'students.all' | translate }}</span>
                        </a>
                    </li>

                    <li routerLinkActive="active" *ngIf="permissionAccess.canViewSideNav.groups">
                        <a routerLink="/groups">
                            <i class="fas fa-users"></i>
                            <span>{{ 'groups.all' | translate }}</span>
                        </a>
                    </li>

                    <li routerLinkActive="active" *ngIf="permissionAccess.canViewSideNav.teachers">
                        <a routerLink="/teachers">
                            <i class="fas fa-solid fa-chalkboard-teacher"></i>
                            <span>{{ 'teachers.all' | translate }}</span>
                        </a>
                    </li>

                    <li routerLinkActive="active" *ngIf="permissionAccess.canViewSideNav.courses">
                        <a routerLink="/courses">
                            <i class="fas fa-book-reader"></i>
                            <span>{{ 'courses.all' | translate }}</span>
                        </a>
                    </li>

                    <li routerLinkActive="active" *ngIf="permissionAccess.canViewSideNav.rooms">
                        <a routerLink="/rooms">
                            <i class="fas fa-door-open"></i>
                            <span>{{ 'rooms.all' | translate }}</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </p-scrollPanel>
</div>