<p-select
    optionLabel="label" 
    optionValue="value" 
    [loading]="isLoading"
    [options]="options" 
    [filter]="allowFilter || allowCustomFilter" 
    [placeholder]="placeholder"
    [emptyMessage]="noResultsMessage"
    [disabled]="disabled"
    [formControl]="formControl"
    (onChange)="onSelectOption($event.value)"
    appendTo="body"
    *ngIf='!multi'
    [style]="style"
    [ngClass]="class"
    >

    <ng-template *ngIf="allowCustomFilter" pTemplate="filter" let-options="options">
        <div class="p-inputgroup">
            <input
                [(ngModel)]="searchValue"
                (ngModelChange)="searchChange($event)"
                class="form-control dropdown-input-search-radius"
                type="text"
                pInputText
                placeholder="Type here"
            />

            <button class="p-inputgroup-addon dropdown-icon-search-radius" (click)="onLoad()">
                <i class="pi pi-search"></i>
            </button>
        </div>
    </ng-template>

</p-select>

<p-multiSelect
    optionLabel="label" 
    optionValue="value" 
    [options]="options" 
    [filter]="allowFilter"
    [placeholder]="placeholder"
    [emptyMessage]="noResultsMessage"
    [showHeader]="options.length > 1"
    [disabled]="disabled"
    [formControl]="formControl"
    (onChange)="onSelectOption($event.value)"
    appendTo="body"
    *ngIf='multi'
    [style]="style"
    (onPanelShow)="onOverlayShow()"
    >

    <ng-template pTemplate="header" *ngIf="!allowFilter">
        <label>All</label>
    </ng-template>

    <ng-template let-selectedItems pTemplate="selectedItems">
        {{ getDisplayValue() }}
    </ng-template>

    <ng-template *ngIf="allowCustomFilter" pTemplate="filter" let-options="options">
        <div class="p-inputgroup">
            <input
                [(ngModel)]="searchValue"
                class="form-control dropdown-input-search-radius"
                type="text"
                pInputText
                placeholder="Type here"
            />

            <button class="p-inputgroup-addon dropdown-icon-search-radius" (click)="onLoad()">
                <i class="pi pi-search"></i>
            </button>
        </div>
    </ng-template>
</p-multiSelect>