.header-left .logo h3 {
    font-size: 1.25rem !important;
}

.p-scrollpanel-bar {
    background-color: var(--gray-color) !important;
    width: 8px !important;
}

.sk-ball-spin-clockwise>div {
    background-color: var(--primary-color) !important;
}

//#region Datatable
.p-datatable-thead>tr>th,
.p-datatable-sort-icon {
    // background-color: var(--primary-color) !important;
    // color: #fff !important;
    font-weight: 500 !important;
}

.p-paginator-page-selected,
.p-datatable-thead>tr>th.p-datatable-column-sorted,
.p-datatable-thead>tr>th.p-datatable-column-sorted .p-datatable-sort-icon {
    color: #fff !important;
    background-color: var(--primary-color) !important;
}

.p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(odd) {
    background-color: #f9f9f9 !important;
}

.p-datatable-striped.p-datatable-hoverable .p-datatable-tbody>tr:not(.p-datatable-row-selected):hover,
.p-datatable-sortable-column:not(.p-datatable-column-sorted):hover {
    background-color: #f5f5f5 !important;
}

.p-datatable-tbody>tr>td {
    padding: 0.25rem 1rem !important;
}

//#endregion

//#region Buttons

.btn-danger {
    padding: 0.5rem 1rem;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    background-color: #dae1e7;
    border-color: #dee2e6;
}

.btn-outline-warning {
    border-color: #ffc107;
    padding: 0.5rem 1rem;
    color: #ffc107;
}

.btn-outline-warning:hover,
.btn-outline-warning:active,
.btn-outline-warning:focus {
    background-color: #ffc1074d !important;
    color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.btn-outline-danger:hover {
    background-color: #ff45384d;
    color: #dc3545;
}

.btn-outline-primary:hover {
    background-color: #559c8b4d;
    color: #559c8b;
}

.btn-icon {
    line-height: .4rem;
    padding: 0.5rem .9rem;
}

.btn-light-icon {
    padding: 0.85rem;
    line-height: 0.85rem;
}

.btn-light-icon i {
    font-size: 20px;
    color: #3d7b6c;
}

.btn-warning-light-icon {
    padding: 0.85rem;
    line-height: 0.85rem;
}

.btn-warning-light-icon i {
    font-size: 20px;
    color: #ffc107;
}

.btn-danger-light-icon {
    padding: 0.85rem;
    line-height: 0.85rem;
}

.btn-danger-light-icon i {
    font-size: 20px;
    color: #dc3545;
}

//#endregion

input:focus {
    border: 1px solid #dae1e7 !important;
    box-shadow: none !important;
}

body {
    background-color: #f8f6f4;
}

.p-dialog-header-actions {
    display: none !important;
}

label,
.p-datatable-thead>tr>th {
    font-size: 16px !important;
    color: #ababab !important;
    margin-bottom: 0.25rem !important;
}

.p-datatable-tbody>tr>td,
.p-datatable-thead>tr>th {
    text-wrap-mode: nowrap !important;
}


// Custom confirmation dialog icon colors

.confirm-icon-edit {
    color: var(--primary-color) !important;
    font-size: 4rem !important;
    margin-top: 1rem !important;
    margin-bottom: -0.5rem !important;
    margin-right: -3rem !important;
}

.confirm-icon-cancel {
    color: #dc3545 !important; // Red for cancel
}

.confirm-icon-attendance {
    color: #7bb13c !important; // Green for attendance

}

.confirm-icon-completed {
    color: var(--button-outline-info-color) !important; // Cyan for completed
}

.confirm-icon-reschedule {
    color: #ffc107 !important; // Yellow/Orange for reschedule
    font-size: 4rem !important;
    margin-top: 1rem !important;
    margin-bottom: -0.5rem !important;
    margin-right: -1.5rem !important;
}

.actions-buttons-save-cancel {
    display: flex;
    justify-content: flex-end;
    gap: .25rem;
    margin-top: 1rem;
    border-top: 1px solid #e0e0e0;
    padding-top: 1rem;

    button {
        width: 7rem !important;
    }
}


.p-radiobutton .p-radiobutton-box {
    width: 15px;
    height: 15px;
    transition: all 0.2s ease-in-out;
}

.p-radiobutton .p-radiobutton-icon {
    width: 7px;
    height: 7px;
}

.p-radiobutton {
    border: unset;
    background-color: unset;
}

.p-radiobutton-checked .p-radiobutton-box {
    background-color: #000 !important;
    border-color: #000 !important;
}

.deleted-item-name {
    font-weight: bold;
    font-size: 1rem;

    &::before {
        content: ' " ';
    }

    &::after {
        content: ' " ';
    }
}

.p-tabpanels {
    background-color: unset !important;
}

.card,
.p-card {
    color: var(--p-card-color) !important;
    box-shadow: var(--p-card-shadow) !important;
    border-radius: 10px !important;
    border: unset !important;
}

.clickable-text {
    color: #007bff;
    cursor: pointer;
  
    &:hover {
      font-weight: 600;
    }
  }
  

.auto-hover-scroll {

    // Custom scrollbar styling
    &::-webkit-scrollbar {
        height: 4px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 2px;
        transition: background-color 0.3s ease;
    }

    // Hide scrollbar buttons (arrows)
    &::-webkit-scrollbar-button {
        display: none;
    }

    // Show scrollbar on hover
    &:hover {
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 123, 255, 0.3);
        }
    }

    // Firefox scrollbar styling
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &:hover {
        scrollbar-color: #a3a3a3 transparent;
    }
}




.td-status-checkbox {
    font-size: 14px;
    font-weight: bold;
    color: #333;

    &.checked {
        color: #000;

        &::before {
            content: "☒";
        }
    }

    &:not(.checked)::before {
        content: "☐";
    }
}

.tab-overflow-auto {
    overflow: auto;
    max-height: 35rem;
    // height: 39.5rem;
}

.p-tablist .p-tab {
    padding: .6rem .55rem !important;
}

.profile-tabs-card .header-title {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: .5rem;
    margin-bottom: 1rem;

    h5 {
        font-size: 1.2rem;
    }
}