:root {
    --primary-color: #559c8b;
    --primary-hover: #101828;
    --primary-border: #3e3e3e;
    --secondary-color: #2f2cdf;
    --secondary-color2: #4f5ac2;
    --yellow-color: #ffc107;
    --text-gray-color: #666666;
    --white-color: #ffffff;
    --ofwhite-color: #f2f2f2;
    --black-color: #000000;
    --light-color: #a5a5a5;
    --light-color2: #aaaaaa;
    --dark-color: #242424;
    --sky-color: #647589;
    --border-color: #ccc9c9;
    --border-color2: #e4e4e4;
    --border-color3: #dddddd;
    --border-dark: #383434;
    --gray-background: #f8f9fa;
    --bg-gray-color: #f8f6f4;
    --gray-color: #ebebeb;
    --gray-color2: #f5f5f5;
    --josefin-sans: "Josefin Sans", sans-serif;
    --open-sans: "Open Sans", sans-serif;
    --body-font-size: 1.6rem;
    --body-font-weight: 400;
    --body-line-height: 2.5rem;
    --headings-weight: 600;
    --transition: all 0.3s ease 0s;
    --container-fluid-offset: 19rem;
    --button-padding: 0.5rem 1rem;
    --button-outline-primary-border-color: #559c8b;
    --button-outline-primary-hover-color: #559c8b4d;
    --button-primary-color: #559c8b;
    --button-primary-hover-color: #488576;

    --button-outline-info-color: #009efb;
    --button-outline-info-hover-color: #d0e7f3;

    --button-outline-secondary-color: #6c757d;
    --button-outline-secondary-hover-color: #d9dcdf;

    --box-shadow: 0 3px 9px rgba(0, 0, 0, 0.12);
}

@font-face {
    font-family: "din";
    src: url("../fonts/DINNextLTArabic-Regular-3.ttf");
}

body {
    font-family: "din", sans-serif !important;
    background-color: var(--bg-gray-color);
}
