<label for="name" class="font-semibold w-24">
    {{label}}
    <span *ngIf="required" class="text-danger">*</span>
</label>

<p-datepicker [(ngModel)]="time" [formControl]="formControl" class="w-100"
    [readonlyInput]="true" [iconDisplay]="'input'" [showIcon]="true" [placeholder]="placeholder" [timeOnly]="true" [hourFormat]="'12'" [appendTo]="'body'" >

    <ng-template #inputicon let-clickCallBack="clickCallBack">
        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
    </ng-template>

</p-datepicker>