<h2 class="mb-4">{{ 'auth.forgetPasswordTitle' | translate }}</h2>

<form [formGroup]="forgetForm" (ngSubmit)="login()">
    <div class="form-group">
        <input-label [label]="'shared.labels.email' | translate" [required]="true" [formControl]="getFormControl('email')" />
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">{{ 'auth.forgetPasswordbtn' | translate }}</button>
    </div>
</form>

<div class=" mb-4 forgotpass">
    <a [routerLink]="['/auth/login']" class="back-to-login">{{ 'auth.backToLogin' | translate }}</a>
</div>