<dialog-buttons [header]="'students.formTitle' | translate" [showDialog]="showDialog" [showSaveButton]="true"
    (onSave)="hasId() ? update() : save()" (onCancel)="cancel()" width="45rem" [saveDisabled]="!studentForm.valid">

    <form [formGroup]="studentForm" (ngSubmit)="hasId() ? update() : save()">

        <div class="row">
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <input-label [label]="'shared.labels.name' | translate" [disabled]="!(permissionAccess.canEdit.studentOnlyAdminOrEmployee)" [required]="true" [formControl]="getFormControl('name')" />
            </div>
    
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <dropdown [label]="'shared.labels.gender' | translate" [required]="true" [options]="genderOptions" 
                [formControl]="getFormControl('gender')" [disabled]="!(permissionAccess.canEdit.studentOnlyAdminOrEmployee)" />
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <input-label [label]="'shared.labels.phoneNumber' | translate" [disabled]="!(permissionAccess.canEdit.studentOnlyAdminOrEmployee)" [required]="true" [formControl]="getFormControl('phoneNumber')" />
            </div>

            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <input-label [label]="'shared.labels.email' | translate" [disabled]="!(permissionAccess.canEdit.studentOnlyAdminOrEmployee)" [required]="true" [formControl]="getFormControl('email')" />
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <input-label [label]="'shared.labels.password' | translate" [required]="requiredPassword" [formControl]="getFormControl('password')" />
            </div>

            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <input-label [label]="'shared.labels.confirmPassword' | translate" [required]="requiredPassword" [formControl]="getFormControl('confirmPassword')" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <label-date-picker [label]="'shared.labels.birthDate' | translate" [disabled]="!(permissionAccess.canEdit.studentOnlyAdminOrEmployee)" [formControl]="getFormControl('birthDate')" />
            </div>

            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <label-date-picker [label]="'shared.labels.joinedDate' | translate" [disabled]="!(permissionAccess.canEdit.studentOnlyAdminOrEmployee)"  [formControl]="getFormControl('joinedDate')" />
            </div>
        </div>

    </form>

</dialog-buttons>