<div class="hello-park">
    <div class="d-flex justify-content-between">
        <h5>{{ 'shared.tabs.teacherFeedback' | translate }}</h5>

        <pdf-year-month-btns [showYearSelect]="true" [showMonthSelect]="true"
            [showPdfBtn]="permissionService.canExport.exportStudentFeedbackPdf && feedbacks!.length!==0"
            [selectedYear]="selectedYear" [selectedMonth]="selectedMonth" (onExport)="exportToPdf()"
            (onYearChanged)="loadFeedbacks($event, selectedMonth)"
            (onMonthChanged)="loadFeedbacks($event.year, $event.month)" />
    </div>

    <div class="tab-section-container auto-hover-scroll">

        <!-- Feedback List -->
        <div class="feedback-list">

            <no-data *ngIf="feedbacks && feedbacks.length === 0" [icon]="'fas fa-comments'"
                [text]="'shared.noData.noFeedback' | translate" />

            <div class="tab-section-container auto-hover-scroll" *ngIf="feedbacks && feedbacks.length > 0">
                <card-feedback *ngFor="let feedback of feedbacks" [feedback]="feedback" />
            </div>

        </div>
    </div>

</div>

<!-- Hidden PDF Template -->
<div class="print-pdf-template-hidden">

    <feedback-pdf-template [title]="getReportTitle()" [feedbacks]="feedbacks" />

</div>