<card-container title="جدول التوزيع الرئيسي" [addBtn]="true" (onAdd)="onAdd()">
    <grid [pagedRows]="schedules" (onLazyLoad)="loadSchedules($event)" 
          [columns]="columns" [pageSize]="10" [paginator]="true" [showFilters]="true"
          [allowEdit]="true" (onEdit)="onEdit($event)" 
          [allowView]="true" (onView)="onView($event)"
          [hasIsActive]="false" />
</card-container>


<app-schedule-form [showDialog]="showDialog" [schedule]="schedule" (onSave)="loadSchedules(queryParams)" (onCancel)="showDialog = false" />