<dialog-buttons [header]="'groups.formTitle' | translate" [showSaveButton]="true" [width]="'30rem'" (onSave)="hasId() ? update() : save()"
    (onCancel)="cancel()" [showDialog]="showDialog" [saveDisabled]="!groupForm.valid">

    <form [formGroup]="groupForm" (ngSubmit)="hasId() ? update() : save()">
        <div class="flex items-center gap-4 mb-2">
            <input-label [label]="'shared.fields.name' | translate" [required]="true"
                [formControl]="getFormControl('name')" />
        </div>

        <div class="flex items-center gap-4 mb-2">
            <dropdown [label]="'courses.one' | translate" [required]="true" [options]="coursesOptions"
                [formControl]="getFormControl('courseId')" />
        </div>

        <div class="flex items-center gap-4 mb-2">
            <dropdown [label]="'teachers.one' | translate" [required]="true" [options]="teachersOptions"
                [formControl]="getFormControl('teacherId')" />
        </div>

        <div class="flex items-center gap-4 mb-4">
            <input-label [label]="'shared.fields.capacity' | translate" [formControl]="getFormControl('capacity')"
                type="number" />
        </div>

    </form>

</dialog-buttons>