<p-dialog header="بيانات المجموعة" [modal]="true" [(visible)]="showDialog" [style]="{ width: '25rem' }">
    <form [formGroup]="groupForm" (ngSubmit)="hasId() ? update() : save()">
        <div class="flex items-center gap-4 mb-4">
            <input-label label="الاسم" [required]="true" [formControl]="getFormControl('name')" />
        </div>

        <div class="flex items-center gap-4 mb-4">
            <input-label label="عدد الطلاب" [formControl]="getFormControl('capacity')" type="number" />
        </div>

        <div class="flex justify-end gap-2">
            <save-btn type="submit" [disabled]="!groupForm.valid" />
            &nbsp;
            <cancel-btn type="button" (click)="cancel()" />
        </div>
    </form>
</p-dialog>