<div class="hello-park">
    <div class="d-flex justify-content-between">
        <h5>{{ 'shared.tabs.schedule' | translate }}</h5>
        <pdf-icon-btn [showOutline]="true" *ngIf="student?.dailySchedules?.length && permissionsService.canExport.exportStudentDailySchedulePdf"
            (click)="exportDailyScheduleToPdf()" />
    </div>

    <div class="tab-section-container auto-hover-scroll" >

        <daily-schedule *ngIf="student?.dailySchedules?.length" [dailySchedules]="student.dailySchedules" />

    </div>

    <no-data *ngIf="student?.dailySchedules?.length === 0" [icon]="'fas fa-calendar-alt'" [text]="'shared.noData.noDailySchedule' | translate" />


</div>

<!-- Hidden PDF Template for Export -->
<div style="position: absolute; left: -9999px; top: -9999px;">
    <daily-schedule-pdf-template [dailySchedules]="student.dailySchedules" [name]="student.name"
        [title]="getReportTitle()">
    </daily-schedule-pdf-template>
</div>