
.table-container {
    // Add horizontal scroll container
    overflow-x: auto;
    overflow-y: auto;
    background: white;
    border-radius: 0.375rem;
    border: 1px solid #e9ecef;
    transition: all 0.2s ease;

    // &:hover {
    //     transform: translateY(-1px);
    //     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    // }


    // Custom scrollbar styling
    &::-webkit-scrollbar {
        height: 6px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 3px;
        transition: background-color 0.3s ease;
    }

    // Show scrollbar on hover
    &:hover {
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 123, 255, 0.3);
        }

        box-shadow: var(--box-shadow);
    }

    // Firefox scrollbar styling
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &:hover {
        scrollbar-color: #8a8888 transparent;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 15px;

        thead {
            background: #f8f9fa;
            border-bottom: 1px solid #e9ecef;

            th {
                padding: 0.5rem 0.75rem;
                text-align: left;
                font-weight: 600;
                color: #495057;
                text-align: start;
                white-space: nowrap;

            }
        }

        tbody {
            .class-row {
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: #e9ecef;
                }


                td {
                    padding: 0.5rem;
                    vertical-align: middle;
                    text-wrap-mode: nowrap;
                    white-space: nowrap; // Prevent text wrapping in cells
                }
            }
        }
    }
}
