<p-dialog header="بيانات الجدول" [modal]="true" [(visible)]="showDialog" [style]="{ width: '45rem' }">
    <form [formGroup]="scheduleForm" (ngSubmit)="hasId() ? update() : save()">

        <div class="row">
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <dropdown label="المجموعة" [options]="groupsDropdownOptions" [required]="true" [formControl]="getControl('groupId')" />
            </div>
    
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <dropdown label="الحلقة" [options]="roomsDropdownOptions" [required]="true" [formControl]="getControl('roomId')" />
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <dropdown label="الدورة" [options]="coursesDropdownOptions" [required]="true" [formControl]="getControl('courseId')" />
            </div>
            
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <dropdown label="المدرس" [options]="teachersDropdownOptions" [required]="true" [formControl]="getControl('teacherId')" />
                <span class="text-danger" *ngIf="!courseHasTeachers(getControl('courseId').value)">لا يوجد معلمين لهذه الدورة</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <label-date-picker label="تاريخ البدء" [required]="true" [formControl]="getControl('startDate')" />
            </div>

            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <label-date-picker label="تاريخ النهاية" [required]="true" [formControl]="getControl('endDate')" />
            </div>
        </div>
        
        <div class="flex justify-end gap-2 mt-4">
            <save-btn type="submit" [disabled]="!scheduleForm.valid" />
            &nbsp;
            <cancel-btn type="button" (click)="cancel()" />
        </div>
    </form>
</p-dialog>