<div class="course-profile-container">
  <div class="row">

    <!-- Course Information Section - Right Side -->
    <div class="col-md-4">
      <div class="student-personals-grp">
        <div class="card">
          <div class="card-body pt-2">
            <div class="heading-detail d-flex justify-content-between align-items-center">
              <h4 class="mb-2 mt-2">{{ 'courses.profile.courseData' | translate }}</h4>

              <div class="form-group students-up-files mb-1" *ngIf="permissionAccess.canEdit.course">
                <edit-icon-button *ngIf="permissionAccess.canEdit.course" (click)="onEditCourse()"
                  [showOutline]="true" />
              </div>
            </div>

            <hr class="mt-1 heading-line" />

            <div class="personal-activity">
              <div class="personal-icons">
                <i class="fas fa-book-reader"></i>
              </div>
              <div class="views-personal">
                <h4>{{ 'shared.labels.name' | translate }}</h4>
                <h5>{{ course.name }}</h5>
              </div>
            </div>

            <div class="personal-activity" *ngIf="course.description">
              <div class="personal-icons">
                <i class="fas fa-solid fa-align-left"></i>
              </div>
              <div class="views-personal">
                <h4>{{ 'shared.labels.description' | translate }}</h4>
                <h5>{{ course.description }}</h5>
              </div>
            </div>

            <div class="personal-activity">
              <div class="personal-icons">
                <i class="fas fa-solid fa-chalkboard-teacher"></i>
              </div>
              <div class="views-personal">
                <h4>{{ 'shared.labels.numberOfTeachers' | translate }}</h4>
                <h5>{{ course.numberOfTeachers || 0 }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Teachers Section - Left Side -->
    <div class="col-md-8">

      <p-card class="tabs-card">
        <div class="student-personals-grp">


          <p-tabs value="0" scrollable>

            <p-tablist>
              <p-tab value="0">{{ 'teachers.all' | translate }}</p-tab>
              <p-tab value="1">{{ 'groups.all' | translate }}</p-tab>
            </p-tablist>

            <p-tabpanels class="px-0">

              <p-tabpanel value="0">

                <div class="hello-park">
                  <div class="d-flex justify-content-between">
                    <h5>{{ 'teachers.all' | translate }}</h5>

                    <edit-icon-button *ngIf="permissionAccess.canEdit.course" (click)="onAddTeacher()"
                      [showOutline]="true" />
                  </div>

                  <div class="table-container" *ngIf="course.teachers && course.teachers.length > 0">

                    <table>

                      <thead>
                        <tr>
                          <th>{{ 'teachers.one' | translate }}</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let teacher of course.teachers" class="class-row">
                          <td class="clickable-text student-name" (click)="onTeacherClick(teacher.id)">
                            {{ teacher.name }}
                          </td>
                        </tr>
                      </tbody>

                    </table>

                  </div>

                  <no-data [icon]="'fas fa-user-plus'" [text]="'shared.noData.noTeachers' | translate"
                    *ngIf="!course.teachers || course.teachers.length === 0" />

                </div>

              </p-tabpanel>

              <p-tabpanel value="1">

                <div class="hello-park">

                  <div class="d-flex justify-content-between">
                    <h5>{{ 'groups.all' | translate }}</h5>

                  </div>

                  <div class="table-container" *ngIf="course.groups && course.groups.length > 0">

                    <table>

                      <thead>
                        <tr>
                          <th>{{ 'groups.one' | translate }}</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let group of course.groups" class="class-row">
                          <td class="py-4 clickable-text student-name" (click)="onGroupClick(group.id)">
                            {{ group.name }}
                          </td>
                        </tr>
                      </tbody>

                    </table>

                  </div>

                  <no-data [icon]="'fas fa-users'" [text]="'shared.noData.noGroups' | translate"
                    *ngIf="!course.groups || course.groups.length === 0" />

                </div>

              </p-tabpanel>


            </p-tabpanels>

          </p-tabs>

        </div>
      </p-card>

    </div>

  </div>
</div>

<app-course-form [showDialog]="showDialog" [course]="course" (onSave)="loadCourse(course.id)"
  (onCancel)="showDialog = false" *ngIf="permissionAccess.canEdit.course && showDialog" />


<teachers-dialog [showDialog]="showTeachersDialog" [selectedTeachers]="course.teachers"
  (onSave)="onSaveTeachers($event)" (onCancel)="showTeachersDialog = false" *ngIf="showTeachersDialog" />