<div class="course-profile-container">

  <personal-tabs [tabs]="tabs" (activeTabChange)="onActiveTabChange($event)" />

  <p-card class="profile-tabs-card">

    @if(activeTab === 'courses.profile.courseData') {
    <div class="contact-info teacher-personals-grp student-personals-grp">

      <div class="d-flex justify-content-between header-title">
        <h5 class="mb-1">{{ 'courses.profile.courseData' | translate }}</h5>

        <div class="form-group students-up-files mb-1" *ngIf="permissionAccess.canEdit.course">
          <edit-icon-button (onClick)="onEditCourse()" [showOutline]="true" />
        </div>
      </div>

      <div class="personal-activity">
        <div class="personal-icons">
          <i class="fas fa-book-reader"></i>
        </div>
        <div class="views-personal">
          <h4>{{ 'shared.labels.name' | translate }}</h4>
          <h5>{{ course.name }}</h5>
        </div>
      </div>

      <div class="personal-activity" *ngIf="course.description">
        <div class="personal-icons">
          <i class="fas fa-solid fa-align-left"></i>
        </div>
        <div class="views-personal">
          <h4>{{ 'shared.labels.description' | translate }}</h4>
          <h5>{{ course.description }}</h5>
        </div>
      </div>

      <div class="personal-activity">
        <div class="personal-icons">
          <i class="fas fa-solid fa-chalkboard-teacher"></i>
        </div>
        <div class="views-personal">
          <h4>{{ 'shared.labels.numberOfTeachers' | translate }}</h4>
          <h5>{{ course.numberOfTeachers || 0 }}</h5>
        </div>
      </div>

    </div>
    }

    @if(activeTab === 'teachers.all') {
    <div class="d-flex justify-content-between header-title">
      <h5>{{ 'teachers.all' | translate }}</h5>

      <div *ngIf="permissionAccess.canEdit.course">
        <edit-icon-button (onClick)="onAddTeacher()" [showOutline]="true" />
      </div>
    </div>

    <div class="tab-overflow-auto" *ngIf="course.teachers && course.teachers.length > 0">
      <app-table [columns]="teacherTableColumns" [rows]="course.teachers || []" />
    </div>

    <no-data [icon]="'fas fa-user-plus'" [text]="'shared.noData.noTeachers' | translate"
      *ngIf="!course.teachers || course.teachers.length === 0" />

    }

    @if(activeTab === 'groups.all') {
    <div class="d-flex justify-content-between header-title">
      <h5>{{ 'groups.all' | translate }}</h5>
    </div>

    <div class="tab-overflow-auto" *ngIf="course.groups && course.groups.length > 0">
      <app-table [columns]="groupTableColumns" [rows]="course.groups || []" />
    </div>
      
    <no-data [icon]="'fas fa-users'" [text]="'shared.noData.noGroups' | translate"
      *ngIf="!course.groups || course.groups.length === 0" />

    }

  </p-card>

  <app-course-form [showDialog]="showDialog" [course]="course" (onSave)="loadCourse(course.id)"
    (onCancel)="showDialog = false" *ngIf="permissionAccess.canEdit.course && showDialog" />

  <teachers-dialog [showDialog]="showTeachersDialog" [selectedTeachers]="course.teachers"
    (onSave)="onSaveTeachers($event)" (onCancel)="showTeachersDialog = false" *ngIf="showTeachersDialog" />