::ng-deep .actions-buttons-save-cancel {
    display: flex;
    justify-content: flex-end;
    gap: .25rem;
    margin-top: 1rem;
    border-top: 1px solid #e0e0e0;
    padding-top: 1rem;

    button {
        width: 7rem !important;
    }
}
