<div class="student-attendance-container">

    <div class="d-flex justify-content-between">
        <h5>{{ 'shared.tabs.attendance' | translate }}</h5>

        <div class="d-flex align-items-center gap-2">
            <select 
                *ngIf="permissionService.canExport.exportStudentAttendancePdf"
                dir="ltr"
                id="yearSelect" 
                class="form-select" 
                [(ngModel)]="selectedYear"
                (change)="onYearChange()"
                style="width: 75px; padding: 4px 8px;">
                <option *ngFor="let year of years" [value]="year">{{ year }}</option>
            </select>

            <pdf-icon-btn *ngIf="permissionService.canExport.exportStudentAttendancePdf && student?.dailySchedules?.length" [showOutline]="true" (onClick)="exportToPdf()"/>
        </div>
    </div>

    <!-- Statistics Cards -->
    <div class="row mb-4 mt-2 pt-2">
        <div class="col-lg-3 col-md-4 col-6 mb-3">
            <div class="stat-card">
                <div class="stat-value">
                    <h3 class="text-total">{{ total }}</h3>
                </div>
                <p>{{ 'shared.labels.total' | translate }}</p>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 mb-3">
            <div class="stat-card">
                <div class="stat-value">
                    <h3 class="text-present">{{ present }}</h3>
                </div>
                <p>{{ 'attendanceStatus.present' | translate }}</p>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 mb-3">
            <div class="stat-card">
                <div class="stat-value">
                    <h3 class="text-absent">{{ absent }}</h3>
                </div>
                <p>{{ 'attendanceStatus.absent' | translate }}</p>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 mb-3">
            <div class="stat-card">
                <div class="stat-value">
                    <h3 class="text-late">{{ late }}</h3>
                </div>
                <p>{{ 'attendanceStatus.late' | translate }}</p>
            </div>
        </div>
    </div>

    <!-- Chart Section -->
    <div class="chart-container">
        <line-chart
            [dataSet]="dataSet"
            [xLabel]="'shared.labels.month' | translate"
            [yLabel]="'shared.labels.numberOfSessions' | translate"
            [tooltipLabel]="buildTooltipLabel"
        ></line-chart>
    </div>

    <!-- Hidden PDF Template -->
    <div style="position: absolute; left: -9999px; top: -9999px;">

        <attendance-pdf-template 
            [title]="getReportTitle()"
            [monthlyAttendanceData]="monthlyAttendanceData"
            [selectedYear]="selectedYear"
        />

    </div>

</div>