<div class="student-attendance-pdf-template" #pdfContent>
    <!-- Header -->
    <pdf-template-header [title]="title" />

    <!-- Feedback Section -->
    <div class="feedback-breakdown-pdf">
      <h3 class="breakdown-title">{{ 'shared.tabs.teacherFeedback' | translate }}</h3>
      
      <div *ngIf="feedbacks && feedbacks.length > 0; else noFeedback">
        <table class="pdf-table">
          <thead>
            <tr>
              <th class="name-col">{{ 'teachers.one' | translate }}</th>
              <th class="date-col">{{ 'shared.labels.date' | translate }}</th>
              <th class="comment-col">{{ 'shared.labels.comment' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let feedback of feedbacks">
              <td class="feedback-name">{{ feedback.name }}</td>
              <td class="feedback-date">{{ getDate(feedback.date) }}</td>
              <td class="feedback-comment">{{ feedback.comment }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <ng-template #noFeedback>
        <div class="no-feedback">
          {{ 'shared.labels.noFeedbackAvailable' | translate }}
        </div>
      </ng-template>
    </div>

    <!-- Footer -->
    <pdf-template-footer />
</div>