<p-dialog [header]="'courses.formTitle' | translate" [modal]="true" [(visible)]="showDialog" [style]="{ width: '25rem' }">
    <form [formGroup]="courseForm" (ngSubmit)="hasId() ? update() : save()">
        <div class="flex items-center gap-4 mb-2">
            <input-label [label]="'shared.fields.name' | translate" [required]="true" [formControl]="getFormControl('name')" />
        </div>

        <div class="flex items-center gap-4 mb-4">
            <input-label [label]="'shared.fields.description' | translate" [required]="false" [formControl]="getFormControl('description')" />
        </div>

        <div class="actions-buttons-save-cancel">
            <save-btn type="submit" [disabled]="!courseForm.valid" />
            &nbsp;
            <cancel-btn type="button" (click)="cancel()" />
        </div>
    </form>
</p-dialog>