<p-dialog [header]="'shared.profile.experience' | translate" [modal]="true" [(visible)]="showDialog" [style]="{ width: '45rem' }">
    <form [formGroup]="experienceForm" (ngSubmit)="save()">
        <editor [formControl]="getFormControl('experience')" />

        <div class="actions-buttons-save-cancel mt-4">
            <save-btn type="submit" [disabled]="!experienceForm.valid" />
            &nbsp;
            <cancel-btn type="button" (click)="cancel()" />
        </div>

    </form>
</p-dialog>