<card-container [title]="'rooms.all' | translate" [addBtn]="permissionAccess.canAdd.room" (onAdd)="showDialog = true">
    <grid [pagedRows]="rooms" (onLazyLoad)="loadRooms($event)" 
          [columns]="columns" [pageSize]="10" [paginator]="true" [showFilters]="true"
          [allowEdit]="permissionAccess.canEdit.room" (onEdit)="onEdit($event)" 
          [allowDelete]="permissionAccess.canDelete.room" (onDelete)="onDelete($event)"
          [allowActivate]="permissionAccess.canActivate.room" (onActivate)="onActivate($event)"
          [allowDeactivate]="permissionAccess.canDeactivate.room"  (onDeactivate)="onDeactivate($event)"
          [hasIsActive]="true" />
</card-container>


<app-room-form [showDialog]="showDialog" 
*ngIf="permissionAccess.canAdd.room || permissionAccess.canEdit.room"
[room]="room"
(onSave)="loadRooms(queryParams)" 
(onCancel)="showDialog = false" />

<delete-confirmation *ngIf="showDeleteDialog && permissionAccess.canDelete.room" [message]="'shared.dialogs.deleteConfirmation' | translate"
(confirm)="onConfirmDelete()" (cancel)="onCancelDelete()" />