<p-dialog [header]="'teachers.formTitle' | translate" [modal]="true" [(visible)]="showDialog" [style]="{ width: '45rem' }">
    <form [formGroup]="teacherForm" (ngSubmit)="hasId() ? update() : save()">

        <div class="row">
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <input-label [label]="'shared.fields.name' | translate" [disabled]="!(permissionAccess.canEdit.teacherOnlyAdminOrEmployee)" [required]="true" [formControl]="getFormControl('name')" />
            </div>
    
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <dropdown [label]="'shared.fields.gender' | translate" [required]="true" [options]="genderOptions" [formControl]="getFormControl('gender')" [disabled]="!(permissionAccess.canEdit.teacherOnlyAdminOrEmployee)" />
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <input-label [label]="'shared.fields.phoneNumber' | translate" [required]="true" [formControl]="getFormControl('phoneNumber')" />
            </div>

            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <input-label [label]="'shared.fields.email' | translate" [required]="true" [formControl]="getFormControl('email')" />
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <input-label [label]="'shared.fields.password' | translate" [required]="requiredPassword" [formControl]="getFormControl('password')" />
            </div>

            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <input-label [label]="'shared.fields.confirmPassword' | translate" [required]="requiredPassword" [formControl]="getFormControl('confirmPassword')" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <label-date-picker [label]="'shared.fields.birthDate' | translate" [disabled]="!(permissionAccess.canEdit.teacherOnlyAdminOrEmployee)" [formControl]="getFormControl('birthDate')" />
            </div>

            <div class="col-md-6 col-12 flex items-center gap-2 mb-2">
                <label-date-picker [label]="'shared.fields.joinedDate' | translate" [disabled]="!(permissionAccess.canEdit.teacherOnlyAdminOrEmployee)" [formControl]="getFormControl('joinedDate')" />
            </div>
        </div>

        <div class="actions-buttons-save-cancel mt-4">
            <save-btn type="submit" [disabled]="!teacherForm.valid" />
            &nbsp;
            <cancel-btn type="button" (click)="cancel()" />
        </div>
    </form>
</p-dialog>