<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <i class="pi pi-info-circle p-confirm-dialog-icon py-4"></i>
                <h5 [innerHTML]="message"></h5>
            </div>
            <div class="modal-footer px-0 border-0 justify-content-center">
                <button type="button" (click)="onConfirm()" class="btn btn-danger px-4">نعم</button>
                <button type="button" (click)="onCancel()" class="btn btn-secondary px-3" data-dismiss="modal">إلغاء</button>
            </div>
        </div>
    </div>
</div>