<div class="student-schedule-container">

  <!-- Weekly Schedule Tables -->
  <div class="schedule-tables">

    <div class="day-table" *ngFor="let daySchedule of getUniqueDays(); let i = index">

      <div class="day-header" 
      [class.border-left-before]="!weekDaysService.isToday(daySchedule.value)"
      [class.today]="weekDaysService.isToday(daySchedule.value)">
        <div class="day-info">
          <span class="day-name">{{ daySchedule.label }}</span>
        </div>
        <div class="today-indicator" *ngIf="weekDaysService.isToday(daySchedule.value)">
          <i class="fas fa-star"></i>
        </div>
      </div>

      <app-table [columns]="columns" [rows]="getClassesByDay(daySchedule.value)" />

    </div>

  </div>

</div>